.dform-group {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  &__content {
    margin-top: 1.2rem;
  }

  &--no-title &__content {
    margin-top: 0;
  }

  &__title {
    color: #474747;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 0;
    border-bottom: 1px solid #474747;
  }
}
