.custom_pagination {
  display: flex;
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translate(-50%, 0);
  .custom_pagination-arrow {
    border-radius: 25px;
    padding: 0;
    background-color: #f0f0f0 !important;
    &:first-child {
      margin-right: 16px;
    }
    &:last-child {
      margin-left: 16px;
    }
  }
}
