.user-roles {
  .permissions-title {
    div {
      margin-top: 5px;
    }
  }
  .card {
    margin: 0;
  }
  .vx-checkbox-white input:checked ~ .vx-checkbox {
    border-color: #b8c2cc!important;
  }
}

.permissions-title {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
  div {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.permissions {
  max-height: 380px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: minmax(100px, auto);
  column-gap: 20px;
  grid-row-gap: 18px;
  padding: 0 1px 10px 1px;
  .organization-img {
    height: 57px;
    max-width: 170px;
  }
  .organization-name {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    .checked {
      .vx-checkbox--label {
        color: #007BFF;
      }
    }
    .vx-checkbox--label {
      white-space: nowrap;
    }
  }
  .hot-fix {
    grid-template-columns: 1fr;
  }
  .add-organization {
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 26px;
    color: #707070;
    cursor: pointer;
  }
  .empty-organizations {
    display: flex;
    align-items: center;
    justify-content: center;
    border-image-repeat: round;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23707070FF' stroke-width='2' stroke-dasharray='8%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}

.remove-org-btn {
  float: right;
}

.organizations-list_list {
  cursor: pointer;
}
