.dform-labeled {
  max-width: 100%;

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
  }

  &--required &__label:before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    content: "*";
  }

  &__control {
    display: flex;
    align-items: center;
    min-height: 32px;
  }

  &__label + &__control {
    margin-top: 0.7rem;
  }

  &__control-content {
    flex: auto;
    max-width: 100%;

    > .nmp-select {
      width: 100%;
    }
  }
}
