.survey-additional {
  background: #ffffff;
  border-radius: 5px;
  padding: 14px 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  &_header {
    display: flex;
    justify-content: space-between;
    &_title {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #474747;
    }
  }
  &_info {
    font-family: "SF Pro Display";
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
  }
}
