.dform-member-form {
  &__tabs.dform-member-tabs {
    .ant-tabs-nav {
      flex: calc(230 / 950) 1;
    }
    .ant-tabs-content-holder {
      flex: calc(720 / 950) 1;
    }
  }

  &__title {
    color: #474747;
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 34px;
    margin-bottom: 0;
  }

  &__card .ant-card-body {
    padding: 0;
  }

  &__actions {
    padding-top: 2rem;
  }
}
