.assigned-survey {
  &_header {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    &_title {
      display: flex;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 34px;
      color: #707070;
      padding-right: 30px;
      border-right: 1px solid rgba(112, 112, 112, 0.5);
    }
    &_survey-name {
      display: flex;
      font-family: Montserrat;
      font-size: 34px;
      color: #707070;
      padding-left: 30px;
    }
    &_survey-version {
      display: flex;
      align-self: center;
      color: #4b484d;
    }
  }

  &_body {
    padding-right: 26px;
    padding-bottom: 20px;
  }
}
