
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/Segoe/Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Semilight'), url('../fonts/Segoe/Segoe UI SemiLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('../fonts/Segoe/Segoe UI Italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  src: local('Segoe UI Bold'), url('../fonts/Segoe/Segoe UI Bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: bold;
  src: local('Segoe UI Bold Italic'), url('../fonts/Segoe/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat regular'), url("../fonts/Montserrat/Montserrat-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat medium'), url("../fonts/Montserrat/Montserrat-Medium.ttf") format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat bold'), url("../fonts/Montserrat/Montserrat-Bold.ttf") format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat light'), url("../fonts/Montserrat/Montserrat-Light.ttf") format('ttf');
}


@import "./bootstrap.scss";
@import "./components.scss";
@import "./bootstrap-extended.scss";
@import "./colors.scss";
@import "./iconfont.scss";
@import "./custom-rtl.scss";
