// ================================================================================================
//     File Name: content.scss
//     Description: Page content level SCSS for different screen size, layout and device.
//     ----------------------------------------------------------------------------------------------
//     Item Name: Vuexy React Admin Template
//     Version: 1.0
//     Author: PIXINVENT
//     Authuseror URL: http://www.themeforest.net//pixinvent
// ================================================================================================

// Contest margin left for expanded & collapsed stats width & margin left
// ================================================================================================
html {
  font-size: $base-font-size;
  height: 100%;
  letter-spacing: 0.01rem;

  body {
    height: 100%;
    background-color: $body-bg;

    .content {
      padding: 0;
      position: relative;

      .content-wrapper {
        padding: 1.8rem 1.1rem 0;
      }
    }
  }
}
