.dform-draggable {
  &__area {
    position: relative;
    padding-left: 1.4rem;
  }

  &__drag-handle {
    font-size: 1.1rem;

    &.anticon[tabindex] {
      cursor: grab;
    }

    position: absolute;
    top: 0.5rem;
    left: 0;
  }
}
