.onboarding_survey_result {
  margin-right: -100px;
  margin-left: 110px;

  &-grade_time {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
  }

  &-stats {
    display: flex;
    justify-content: space-around;
    padding: 70px 30px 40px 30px;

    &.stats-loading {
      .onboarding_survey_result-stats_stat_value {
        border-color: #dedede !important;
      }
    }
    &_stat {
      //width: 190px;
      &_value {
        border-radius: 100%;
        border: 10px solid greenyellow;
        width: 190px;
        height: 190px;
        display: flex;
        justify-content: center;
        font-size: 38px;
        align-items: center;
      }
      &_label {
        color: #4b484d;
        padding-top: 9px;
        text-align: center;
        font-size: 14px;
      }
      &:first-child {
        .survey-results_stats_stat_value {
          font-size: 57px;
        }
      }
    }
  }

  .status_description_action_show-button {
    border-radius: 5px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
  }
}
