.application-description {
  padding-left: 35px;
  padding-right: 35px;
  //margin-left: 0;
  //margin-right: 0;

  &__organization {
    font-size: 18px;
    align-items: center;
    margin-bottom: 20px;

    &-name {
      padding-left: 10px;
    }
  }
}
