.svg{
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
}

.svg-circle-text {
  font-size: 17px;
  //text-anchor: middle;
  fill: #707070;
  font-family: Arial, sans-serif;
}

.section-progress-bar.complete {
  background: url("../../../../../../assets/img/icons/check.png") no-repeat center center;
}
