.home {
  justify-content: center;
  .grid {
    display: flex;
    height: 65vh;
    flex-direction: column;
    .row:first-child {
      flex: 0 0 auto;
    }
    .row:nth-child(2) {
      flex: 1 0 auto;
    }
    .row:last-child {
      flex: 0 0 auto;
    }
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: normal;
  }
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: flex-start;
    align-content: flex-start;
    >div {
      height: 100px;
    }
  }
  &__card {
    width: 50%;

    .card-body {
      padding: 0;
      .card-text {
        margin: 0;
      }
    }
  }
  &__card:nth-child(7) {
    margin: 0;
  }
  &__card:last-child {
    margin: 0;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-item {
    .nav-link {
      color: #000000;
    }
    .nav-link:hover {
        color: #000000;
      }
  }
  .card {
    margin: 0;
    .round {
      border-radius: 50%;
    }
    .user-nav {
      margin: 8px 26px;
      width: 40px;
      height: 40px;
    }
  }
  .dropdown-toggle::after {
    display: inline-block;
    transition: 0.5s;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
}
