.application {
  &_delimiter {
    background-color: rgba(112, 112, 112, 0.14);
    height: 1px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .button {
    border-radius: 10px;
    margin-bottom: 13px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    }
  }
  .button-success {
    background-color: rgba(115, 103, 240, 1) !important;
  }
  .button-cancel {
    color: rgba(112, 112, 112, 1);
    background-color: white !important;
    &:hover {
      color: rgba(112, 112, 112, 1) !important;
    }
  }
  .button-danger {
    background-color: rgba(199, 0, 0, 1) !important;
  }

  &__form {
    width: 540px;
  }
}
