.custom-checkbox-container {
  position: relative;
  display: flex;
  input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 1px;
    cursor: pointer;
    z-index: 299;
    &:checked {
      ~ .custom-checkbox_check {
        position: relative;
        .custom-checkbox_check-icon {
          opacity: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-48%, -55%);
        }
      }
    }
  }
  .custom-checkbox_check {
    border: 2px solid #707070;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    min-width: 20px;
    &-icon {
      opacity: 0;
    }
  }

  .custom-checkbox_label {
    padding-left: 25px;
    //padding-top: 2px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }

  &.multiselect-checkboxes {
    margin-bottom: 20px;
    margin-left: 30px;
  }
}

.field-with-error {
  .custom-checkbox-container {
    .custom-checkbox_check {
      border-color: #dc3545;
    }
  }
}
