.survey-designer_question-list {
  &_item {
    display: flex;
    &_order-buttons {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      button {
        background: #4B484D;
        width: 33px;
        height: 57px;
        border-radius: 10px;
        outline: none;

        &:first-child {
          margin-bottom: 10px;

          display: flex;
          justify-content: center;
          align-items: flex-start;

        }
        &:last-child {
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
      }
    }
  }
}
