.nmp-tiles-select-field {
  &__adder.btn {
    width: 100%;
    max-width: 38px;
    min-height: 38px;

    border: 1px solid #eeeeee;

    color: #4b484d !important;
    background-color: transparent !important;

    &:hover,
    &:focus,
    &:active {
      color: #4b484d !important;
    }
  }

  &__adder-wrap {
    min-width: 38px;
  }

  &__tiles {
    padding: 4px;
    overflow: scroll;
    min-height: 80px;
    max-height: 80px;

    border-radius: 5px;
    border: 1px solid #eeeeee;
  }

  &__tile {
    margin: 4px;
  }
}
