.custom-tabs {
  justify-content: space-between;

  .icon-container {
    //display: inline-block;
    width: 21px;
    height: 21px;

    background: white;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 5px;
    border: 1px solid #707070;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-item .page-link {
    display: flex;
    align-items: center;
  }

  .page-item.active {
    .icon-container {
      //width: 20px;
      //height: 20px;
      border: 0;
      width: 20px;
      height: 20px;
      //padding: 1px;
    }
  }

  ul.pagination {
    width: 100%;
  }
  .page-item.active .page-link {
    background: #7367f0;
    &:hover {
      color: white;
    }
  }
  .with-icon {
    .page-item .page-link {
      padding-left: 0;
    }
  }
  .page-item {
    &.prev-item, &.next-item {
      .page-link {
        background-color: #b1b1b1;
        padding: 7px 9px!important;
        border-radius: 25px!important;
        color: white;
        &:hover {
          background-color: #7367f0;
        }
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &.prev-item .page-link svg,
    &.next-item .page-link svg {
      width: 18px;
      height: 18px;
    }
    .page-link {
      padding: 6px 25px;
      font-weight: normal;
      background-color: white;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      &:hover {
        color: #7367f0;
      }
    }
  }
  &_tabs {
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 7px;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &_tab {
    padding: 0 5px;
    font-size: 18px;
  }
}

.tabs-text-container {
  max-width: 300px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new-custom-tabs {
  position: fixed;
  z-index: 1;
  width: 394px;
  left: 76px;
  background: #F8F8F8;
  border: 1px solid #0070B8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(115, 103, 240, 0.15);
  .pagination {
    flex-direction: column;
    margin-bottom: 0;
    .page-item.active .page-link {
      background:#fff;
      transform: initial;
      border-top: 1px solid #0070b8;
      border-bottom: 1px solid #0070B8;

    }
    .page-item.active .page-link .tabs-text-container {
      // color: #fff;
    }
  }
  .page {
    &-item {
      width: 100%;
      border-radius: 0;
      margin-bottom: 10px;
      .page-link .tabs-text-container {
        font-size: 22px;
        color: #707070;
        font-weight: normal;
        line-height: normal;

      }
      .page-link {
        background: #fff;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
      }

    }
    &-link {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 25px 60px 26px 37px;
      background: #fff;
      border-radius: 0!important;
    }

  }
  &_tabs {
    flex-direction: column;
  }
  &_tab {
    display: flex;
  }
  .title {
    font-weight: bold;
    font-size: 34px;
    color: #0070B8;
    margin-top: 21px;
    margin-left: 25px;
    margin-bottom: 29px;
    line-height: 20px;
  }
}

.nav-column {
  width: 76px;
  left: 0;
  z-index: 1;
  position: fixed;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0070B8;
    height: 63px;
    cursor: pointer;
  }
}