.onboarding-title {
  font-weight: 300;
  font-size: 39px;
  line-height: 46px;
  color: #606060;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.membercomponent-menu {
  display: flex;
  align-items: flex-end;

  height: 4.5rem;

  top: 0;
  left: 300px;
  right: 300px;
  z-index: 1001;
  position: fixed;

  &__item {
    margin-top: 120px;
  }

  @at-root .ant-menu-horizontal:not(.ant-menu-dark) &__item {
    color: #474747;

    &:hover:after,
    &.ant-menu-submenu-open:after,
    &.ant-menu-submenu-selected:after {
      border-color: #35a046;
    }

    > .ant-menu-submenu-title:hover,
    > .ant-menu-submenu-title:focus,
    > .ant-menu-submenu-title:active {
      color: #35a046;
    }

    &.ant-menu-submenu-selected {
      color: #35a046;
    }
    &.ant-menu-submenu-active {
      color: #35a046;
    }
  }

  @at-root .ant-menu-submenu-horizontal .ant-menu-submenu-arrow {
    display: block;
    left: 100%;
    transform: translate(10px, -50%);
    color: #474747;

    &::before {
      transform: rotate(-135deg) translateX(2px);
    }

    &::after {
      transform: rotate(135deg) translateX(-2px);
    }
  }

  @at-root .ant-menu-submenu-open.ant-menu-submenu-horizontal > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    color: #35a046;

    &::before {
      transform: rotate(45deg) translateX(2px);
    }

    &::after {
      transform: rotate(-45deg) translateX(-2px);
    }
  }

  @at-root .ant-menu-submenu:hover > .ant-menu-submenu-title .ant-menu-submenu-arrow,
    .ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    color: #35a046;
  }

  &__category {
    min-width: 300px;
  }

  &__category-title {
    display: flex;
    justify-content: space-between;
    & > * {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #474747;
    }
  }

  &__category-item {
    @at-root &,
      &.ant-menu-item-selected {
      color: #474747;

      &:hover,
      &:focus {
        color: #474747;
      }

      &:active {
        color: #474747;
      }
    }

    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #474747;
    }
  }

  &__submenu-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--survey {
      display: flex;
      justify-content: space-between;
    }
    @at-root &,
      &.ant-menu-item-selected {
      color: #474747;

      &:hover,
      &:focus {
        color: #474747;
      }

      &:active {
        color: #474747;
      }
    }
  }

  &__item-name {
    font-size: 14px;
    line-height: 21px;
    min-width: 150px;
  }

  &__item-status-dform {
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    &__dot {
      margin-right: 7px;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      display: inline-block;
    }
  }

  &__item-status {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &-wrapper {
    width: 100%;

    > .npm-menu {
      justify-content: center;
    }
  }
}

.ant-menu-item-group-list .ant-menu-item,
.ant-menu-item-group-list .ant-menu-submenu-title {
  padding: 0 1rem;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #35a046;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .survey-item:not(.ant-menu-submenu-open).ant-menu-submenu-active::after {
  border-color: transparent;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .survey-item:not(.ant-menu-submenu-open).ant-menu-submenu:hover::after {
  border-bottom: 2px solid #35a046;
}
