.onboarding-title {
  font-weight: 300;
  font-size: 39px;
  line-height: 46px;
  color: #606060;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.membercomponent-menu {
  display: flex;
  align-items: flex-end;

  height: 4.5rem;

  top: 0;
  left: 300px;
  right: 300px;
  z-index: 1001;
  position: fixed;

  @at-root .ant-menu-horizontal:not(.ant-menu-dark) &__item {
    color: #35a046;

    &:hover:after,
    &.ant-menu-submenu-open:after,
    &.ant-menu-submenu-selected:after {
      border-color: #35a046;
    }

    > .ant-menu-submenu-title:hover,
    > .ant-menu-submenu-title:focus,
    > .ant-menu-submenu-title:active {
      color: #35a046;
    }

    &.ant-menu-submenu-selected {
      color: #35a046;
    }

    &:hover,
    &:focus {
      color: #35a046;
    }

    &:active {
      color: #35a046;
    }
  }

  @at-root .ant-menu-submenu-horizontal .ant-menu-submenu-arrow {
    display: block;
    left: 100%;
    transform: translate(10px, -50%);
    color: #35a046;

    &::before {
      transform: rotate(-135deg) translateX(2px);
    }

    &::after {
      transform: rotate(135deg) translateX(-2px);
    }
  }

  @at-root .ant-menu-submenu-open.ant-menu-submenu-horizontal > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    color: #35a046;

    &::before {
      transform: rotate(45deg) translateX(2px);
    }

    &::after {
      transform: rotate(-45deg) translateX(-2px);
    }
  }

  @at-root .ant-menu-submenu:hover > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    color: #35a046;
  }

  &__submenu-item {
    @at-root &,
      &.ant-menu-item-selected {
      color: #474747;

      &:hover,
      &:focus {
        color: #474747;
      }

      &:active {
        color: #474747;
      }
    }
  }

  &__item-name {
    font-size: 18px;
    line-height: 21px;
    padding-right: 1rem;
  }

  &__item-status {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
  }

  &-wrapper {
    width: 100%;

    > .npm-menu {
      justify-content: center;
    }
  }
}
