.submitted-dform {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-card-body {
    padding: 0;
  }
  .card-submitted {
    display: grid;
    grid-template: 1fr/3fr 2fr;
    &_content {
      padding: 32px;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .cs-title {
        font-weight: 500;
        font-size: 42px;
        line-height: 51px;
        color: #35a046;
      }
      .cs-content {
        & > * {
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
        }
        & div:nth-child(2) {
          padding: 30px 0;
        }
        & div:last-child {
          padding-top: 30px;
          font-style: italic;
        }
      }
      .cs-button {
        .arrow {
          border: solid white;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
        }
        .right {
          margin-left: 15px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
    &_img {
      grid-column: 2/3;
      background: #efefef;
      width: 100%;
      height: 100%;
      max-height: 600px;
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;

      .cs-figure {
        width: 0;
        height: 0;
        border-top: calc(min(88vh, 600px) * 0.84) solid transparent;
        border-right: calc(min(85vw, 1000px) * 2 / 3) solid white;
        border-bottom: calc(min(88vh, 600px) * 0.84) solid transparent;
      }
      .cs-img {
        position: absolute;
        margin-left: 50%;
        transform: translate(-20%, -10%);
        max-width: 240px;
        max-height: 230px;
        width: calc(100vw / 5);
        height: calc(100vw / 5);
      }
    }
  }
}
