.context-search {
  position: relative;
  padding-bottom: 60px;

  &:after {
    content: "";
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
    height: 1px;
    background-color: #707070;
  }

  &__collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header,
  &__collapse.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
}

.no-managers {
  width: 100vw;
  text-align: center;
  margin-top: 2vh;
}

.activity-load-more {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
