.context-search {
  .preview {
    .custom-badge.badge.badge-primary {
      background-color: rgba(0,123,255,0.1);
      color: #007bff;
      padding: 6px;
      font-size: 85%;
      margin: 2px 3px;
    }
  }
}
