.user-master-schema-type-field {
  width: 100%;
  margin-bottom: 60px;
  &-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #707070;
  }
  &-label {
    font-family: Montserrat;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
  }
  &-input {
    color: #707070;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #707070;
    &::placeholder {
      color: #c6c6c6;
    }
  }
  &-element-type {
    width: 35%;
  }
  &-buttons {
    margin-top: 20px;
    text-align: right;
    img {
      cursor: pointer;
      margin-left: 10px;
      padding: 2px;
    }
  }
}
