.surveys-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .ant-card {
    flex: 1;
  }
  .ant-card-body {
    display: flex;
    flex-direction: column;
  }

  .content_question {
    padding-top: 20px;

    .question-title {
      font-weight: 500;
      font-size: 38px;
      line-height: 46px;
      color: #434343;
    }

    .question-subtitle {
      margin-top: 18px;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #434343;
      text-overflow: ellipsis;
      max-width: 70%;
      height: 30px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .content_answer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .content_buttons {
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 48px;
  }
}
