.user-card {
  color: #707070!important;
  * {
    white-space: nowrap;
  }
  &-img {
    height: 150px!important;
    width: 150px!important;
    margin-right: 16px;
    border-radius: 25px;
  }
  &-body {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    &_title {
      font-weight: bold!important;
      color: #707070!important;
      padding-top: 4px;
      font-family: "Segoe UI"!important;
    }
    &-left {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
      .card-title {
        font-size: 22px!important;
      }
      .card-title, .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: space-between;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
      .organization-name {
        padding-right: 5px;
        font-size: 18px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    &_last-seen {
      font-size: 13px !important;
    }
  }
}

@media (max-width: 1600px) {
  .user-card {
    padding: 0;
    &-img {
      border-radius: inherit!important;
      width: 136px!important;
      height: 136px!important;
    }
    &-body {
      &-left {
        padding-top: 4px;
        padding-bottom: 10px;
        .card-title {
          font-size: 20px!important;
        }
      }
      &-right {
        padding-top: 12px;
        padding-right: 9px;
        padding-bottom: 6px;
        .organization-name {

          &:last-child {

          }
        }
      }
      &_last-seen.card-text{
        font-size: 9px !important;
      }
    }
  }
}

@media (max-width: 1280px) {
  .user-card {
    &-img {
      width: 117px!important;
      height: 117px!important;
    }
  }
}
