.survey-grading-component {
  &_action-buttons {
    display: flex;
    justify-content: space-between;

    &_action-button {
      font-size: 18px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
