.pageTemplate {
  height: 100vh;
  background: url("../../assets/img/pages/vuesax-login-bg.jpg") no-repeat center
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .main{
    width: 100%;
  }
}
