.context-feature-template {
  padding: 20px 50px 20px 45px;

  &_container {
    padding-right: 50px;
  }

  &_header {
    padding-right: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_search {
      position: relative;
      &_search-icon {
        color: #95989A;
        font-size: 28px;
        position: absolute;
        top: 10px;
        right: 0;
      }

      input {
        width: 200px;
        background: transparent;
        border: 0;
        color: #4B484D;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 300;
        border-bottom: 1px solid #EEE;
        padding: 10px 30px 5px 0;
      }
    }

    &_title {
      width: 100%;

      font-size: 34px;
      font-weight: bold;
      font-family: Montserrat;
      color: #707070;
    }
  }
}

@media screen and (max-width: 1200px){
  .context-feature-template {
    &_header {
      align-items: flex-start;
      &_title {
        font-size: 30px;
      }

    }
  }
}
