.onboarding-survey {
  &-manager_feedback {
    margin-bottom: 20px;
  }

  &-feedback_action_buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .dark {
      font-family: Montserrat;
      color: white!important;
      background: #717171!important;
    }

    &-button {
      padding: 12px 50px;
      position: relative;

      &.back {
        margin-right: 20px;
      }
      &.next {

      }
    }
  }
}
