@mixin font-inter-300 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.87rem;
}

.npm-fileLoading {
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #a8a8a8;
  display: flex;
  justify-content: start;
  align-items: center;
  &_file-name {
    @include font-inter-300;
    color: #474747;
    text-align: left;
  }
  &_loader {
    margin-left: auto;
    margin-right: 18px;
    @include font-inter-300;
  }
  .loader-run {
    color: #474747;
  }
  .loader-success {
    color: #35a046;
  }
}
