@mixin font-style {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  font-size: 0.87rem;
}

.npm-fileLoading {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
  &_file-name {
    @include font-style;
    color: #474747;
  }
  &_loader {
    margin-left: auto;
    margin-right: 18px;
    @include font-style;
  }
  .loader-run {
    color: #474747;
  }
  .loader-success {
    color: #35a046;
  }
  &_icon {
    display: flex;
    align-items: center;
  }
}
