.nmp-upload-item {
  margin-top: 0.87rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 32px;

  border-radius: 2px;
  border: 1px solid #a8a8a8;

  background-color: #ffffff;

  &__filename {
    font-style: italic;
    font-weight: 300;
    font-size: 0.87rem;
    color: #474747;
    justify-content: flex-start;

    > span {
      font-style: inherit;
    }
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__status-icon {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }

  &__progress {
    margin-right: 0.87rem;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
