.organization-form {
  h1 {
    font-size: 22px;
    color: #707070;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .field {
    display: flex;
    .label {
      width: 135px;
      padding-top: 2px;
      border-right: 1px solid #707070;
      color: #707070;
      text-transform: uppercase;
      font-size: 15px;
    }
    .form-element {
      width: 100%;
      padding-left: 36px;
      padding-bottom: 37px;
      .text-input {
        background-color: #eee;
        width: 100%;
        border: 0;
        padding: 5px;
        color: #707070;
      }
      .editor-wrapper {
        border: 1px solid #eee;
        .editorClassName {
          padding: 0 15px;
          min-height: 120px;
        }

        .wrapperClassName {
          max-width: 100%;
          background: transparent;
        }
      }


    }
    &:first-child {
      .form-element {
        padding-top: 5px;
      }
      .label {
        padding-top: 7px;
      }
    }
    &:last-child {
      .form-element {
        padding-bottom: 0;
      }
    }
  }
  &_submit-button {
    border-radius: 25px;
  }
}
