.msu-modal {

}

.ms-user-list {
  min-height: 230px;
}

.ms-list-no-user-found {
    text-align: center;
    position: absolute;
    top: 265px;
    z-index: 10;
    width: 100%;
}

.msu-table {
  min-width: 630px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 1rem;

  line-height: 1.3;
  font-size: 0.85rem;
  color: #707070;


  tbody tr {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.160784);
  }

  thead th, tbody td {
    padding: 0.3rem 0.5rem;
    font-size: inherit;
  }

  @at-root & .msu-table__avatar {
    width: 40px;
    padding: 0;
  }

  &__avatar-img {
    display: block;
    max-width: 40px;
    height: 40px;

    font-size: inherit;
    color: currentColor;
  }

  @at-root & .msu-table__name {
    padding-left: 1rem;
  }

  &__value {
    width: 130px;
    @media screen and (min-width: 1600px) {
      width: 200px;
    }
  }

  &__value-button {
    padding: 0;
    font-size: inherit;
    color: currentColor !important;
    background-color: transparent !important;

    > svg {
      margin-left: 5px;
    }

    &:active, &:hover, &:focus {
      box-shadow: none !important;
      color: currentColor !important;
    }
  }

  @at-root & .msu-table__date {
    width: 100px;

    text-align: right;
    padding-right: 1.5rem;
  }

  &__field-value {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
