.dform-selectable {
  &--selected > &__content::before,
  &:hover > &__content::before {
    background-color: #7367f0;
  }

  &__content {
    cursor: pointer;
    position: relative;

    padding-right: 0.5rem;
  }

  &__content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 2px;
    transition: 0.1s;
    background-color: transparent;
  }

  &--mishandled &__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
