.ant-btn.ant-btn-nmp {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 15px;

  &.ant-btn-sm {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
    border-radius: 2px;
  }

  &.ant-btn-lg {
    height: 40px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 2px;
  }

  &.ant-btn-nmp-default {
    color: #434343;
    border-color: #f3f3f3;
    background-color: #f3f3f3;

    &:hover,
    &:focus {
      color: #434343;
      border-color: #dfdfdf;
      background-color: #dfdfdf;
    }

    &:active {
      color: #434343;
      border-color: #f3f3f3;
      background-color: #f3f3f3;
    }
  }
  &.ant-btn-nmp-ghost {
    color: #474747;
    border-color: #4e7aff;
    background-color: transparent;

    &:hover,
    &:focus {
      color: #2f5ce3;
      border-color: #2f5ce3;
      background-color: transparent;
    }

    &:active {
      color: #474747;
      border-color: #4e7aff;
      background-color: transparent;
    }
  }
  &.ant-btn-nmp-primary {
    color: white;
    border-color: #4e7aff;
    background-color: #4e7aff;

    &:hover,
    &:focus {
      color: white;
      border-color: #2f5ce3;
      background-color: #2f5ce3;
    }

    &:active {
      color: white;
      border-color: #4e7aff;
      background-color: #4e7aff;
    }
  }

  &.ant-btn-nmp-ellipse {
    &,
    &.ant-btn-icon-only {
      width: 20px;
      height: 36px;
      border-radius: 15px;
    }
    &.ant-btn-icon-only.ant-btn-sm {
      width: 16px;
      height: 24px;
    }
    &.ant-btn-icon-only.ant-btn-lg {
      width: 28px;
      height: 42px;
    }
  }

  &.ant-btn-icon-nmp-right {
    flex-direction: row-reverse;

    > .ant-btn-loading-icon .anticon {
      padding-left: 8px;
      padding-right: 0;
    }

    .anticon {
      transition: margin-right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    > .anticon + span,
    &.ant-btn > span + .anticon {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
