.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.ant-btn-nmp-default {
    color: #434343;
    border-color: #f3f3f3;
    background-color: #f3f3f3;

    &:hover,
    &:focus {
      color: #434343;
      border-color: #dfdfdf;
      background-color: #dfdfdf;
    }

    &:active {
      color: #434343;
      border-color: #f3f3f3;
      background-color: #f3f3f3;
    }
  }
  &.ant-btn-nmp-ghost {
    color: #474747;
    border-color: #22776d;
    background-color: transparent;

    &:hover,
    &:focus {
      color: #139b8b;
      border-color: #139b8b;
      background-color: transparent;
    }

    &:active {
      color: #474747;
      border-color: #22776d;
      background-color: transparent;
    }
  }
  &.ant-btn-nmp-primary {
    color: white;
    border-color: #22776d;
    background-color: #22776d;

    &:hover,
    &:focus {
      color: white;
      border-color: #139b8b;
      background-color: #139b8b;
    }

    &:active {
      color: white;
      border-color: #22776d;
      background-color: #22776d;
    }
  }

  &.ant-btn-nmp-ellipse {
    &,
    &.ant-btn-icon-only {
      width: 20px;
      height: 36px;
      border-radius: 15px;
    }
    &.ant-btn-icon-only.ant-btn-sm {
      width: 16px;
      height: 24px;
    }
    &.ant-btn-icon-only.ant-btn-lg {
      width: 28px;
      height: 42px;
    }
  }

  &.ant-btn-icon-nmp-right {
    flex-direction: row-reverse;

    > .ant-btn-loading-icon .anticon {
      padding-left: 8px;
      padding-right: 0;
    }

    .anticon {
      transition: margin-right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
