.dform-dnd {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &--sections {
      justify-content: flex-end;
    }
  }

  &__drag-handle-icon {
    display: flex;
    align-self: flex-start;
    font-size: 22px;

    span {
      vertical-align: top;
    }

    &--field {
      margin-right: -16px;
      z-index: 100;
    }

    &--group {
      padding-top: 6px;
    }

    &--section {
      color: black;
      align-self: center;
      margin-right: 4px;
    }
  }
}
