.dform {
  display: flex;
  flex-direction: column;

  &__sections {
    width: 100%;
  }

  &.edit-mode {
    .editable {
      cursor: pointer;
      position: relative;

      &.selected::after,
      &:hover::after {
        border-right: 2px solid #7367f0;
      }

      &:after {
        content: "";
        z-index: 10;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.1s;
        border-right: 2px solid transparent;
      }
    }
  }

  &__collapse {
    margin-bottom: 12px;
    margin-left: 80px;
  }
}

.dform-dnd {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &--sections {
      justify-content: flex-end;
    }
  }

  &__drag-handle-icon {
    display: flex;
    align-self: flex-start;
    font-size: 22px;

    span {
      vertical-align: top;
    }

    &--field {
      margin-right: -16px;
      z-index: 100;
    }

    &--group {
      padding-top: 6px;
    }

    &--section {
      color: black;
      align-self: center;
      margin-right: 4px;
    }
  }
}
