.approve {
  &__label {
    color: #707070;
  }

  &__title {
    color: currentColor !important;
  }

  &__subtitle {
    font-size: 0.9375rem;
    color: currentColor !important;
  }
}

.unapproved_fields {
  font-family: Montserrat, sans-serif;

  &-list {
    border-bottom: 1px solid #c8c8c8;

    &-header {
      display: flex;
      justify-content: space-between;
      &-title {
        font-size: 15px;
        font-weight: 700;
        color: #707070;
      }

      &-selected_items {
        display: flex;
        &-count {
          color: #707070;
          font-size: 15px;
          margin-right: 3px;
          & > p {
            margin: 0;
          }
        }
        &-unselect_icon {
          cursor: pointer;
        }
      }
    }

    &-items {
      margin-bottom: 20px;
      &-item {
        cursor: pointer;
        display: flex;
        background: #f1f1f1;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px 12px 12px;
        user-select: none;
        margin-bottom: 12px;
        border-radius: 5px;

        > * {
          width: calc(50% - 8px);
        }

        &-description {
          padding-left: 10px;

          &-name {
            font-size: 15px;
            margin-bottom: 6px;
          }

          &-appearances {
            font-size: 12px;

            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &_creation_info {
          font-size: 15px;
          text-align: right;
        }
      }
    }
  }
}
