.status {
  display: flex;
  max-width: 575px;
  margin-left: 230px;
  &_image {
    margin-right: 36px;
    margin-top: 7px;
  }
  &_description {
    font-family: Montserrat, sans-serif;
    color: #707070;
    font-size: 16px;
    h1 {
      font-size: 30px;
      font-weight: 600;
      color: #62be7b;
    }
    div {
      font-weight: 500;
      margin-top: 25px;
      &:first-of-type {
        margin-top: 10px;
      }
    }
    &_action {
      margin-top: 45px !important;
      display: flex;
      justify-content: flex-end;
      &_show-button {
        border-radius: 25px;
        padding-left: 49px;
        padding-right: 49px;
      }
    }
  }

  &.submitted {
    .status_description {
      h1 {
        color: #ffb350;
      }
    }
    .status_image {
      margin-right: 20px;
    }
  }
}
