.ms-element {
  padding: 10px;
  border: 1px solid #707070;
  margin: 7px 7px;
  height: 44px;
  font-size: 14px;
  width: 225px;
  cursor: pointer;
}
.ms-element.active {
  background: #7367F0;
  color: white;
}
.ms-element.selected {
  background: #f09d0d;
  color: white;
}
.ms-group {
  background: #707070;
  color: white;
}
.ms-branch {
  padding-left: 30px;
}
