.dform-long-text-widget {
  &__area {
    padding: 12px 15px;

    background: #eee;
    border-bottom: 1px solid #707070;

    height: 100px;
    overflow-y: auto;
  }

  &__area--disabled {
    background: #bbb;
  }

  &__editor {
    height: 430px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}
