.msu-history-modal {
  min-width: 700px;
}

.msu-table {
  border-collapse: separate;

  $total-width: 58px;

  &__row--shadowed-partial {
    position: relative;

    & > * {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      right: $total-width;
      left: 0;
      z-index: 0;

      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__total {
    width: $total-width;
  }

  &__versioning-button {
    display: flex;
    color: currentColor;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__versioning-number {
    width: 20px;

    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1rem;
  }

  &__versioning-img {
    padding-top: 4px;
  }
}
