.field-label {
  color: #707070;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: 300;
}

.required-field {
  .field-label {
    //font-weight: bold;
  }
}

.field-with-error {
  .field-label_asterix {
    color: #dc3545;
  }
}
