.file-input {

  .drop-zone {
    display: flex;
    height: 123px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-weight: 300;
    font-size: 15px;
  }
}
