.memberDForm {
  width: 100%;
  height: 100%;
  .memberDForm-stepper {
    display: flex;
    justify-content: end;
  }
  .memberDForm-content {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_box {
      &_title {
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        color: #474747;
      }
      &_card {
        width: 100%;
        height: 100;
        border: 2px solid red;
        &_section-name {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 500;
          font-size: 2.12rem;
          color: #474747;
        }
        &_section-fields {
          margin-top: 5%;
        }
      }
    }
  }
}
