.mse-approve-elements-btn {
  margin: 20px 0 10px auto;
  width: 200px!important;
  display: block;
}

.mse-approve-element-title {
  font-weight: bold!important;
}

.mse-approve-element-subtitle {
  color: #626262!important;
  margin-top: 20px;
}
