.intropage {
  //   min-height: calc(100vh - 110px);
  .intropage-component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-card {
      max-width: 1320px;
      width: 80vw;
      height: 100%;
    }
    .ant-card-body {
      padding: 0%;
    }
    .intropage-block {
      display: flex;
      &_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 60px 60px 30px;
        &_title {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 38px;
          line-height: 45px;
          color: #474747;
        }
        &_greetings {
          padding-top: 5%;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #474747;
        }
        &_text {
          & > * {
            padding: 2% 0;
            font-size: 16px;
            line-height: 19px;
          }
          div:last-child {
            font-style: italic;
          }
        }
        &_navigations {
          display: flex;
          justify-content: space-between;
          padding-top: 70px;
        }
      }
      &_img {
        width: 30%;
        & > * {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }
    }
  }
}
