.activity-dashboard {
  margin-top: 7vh;
  .dashboard-charts {
    border: black solid 1px;
    text-align: center;
  }
  .dashboard-activities {
    border: black solid 1px;
  }
  .dashboard-chart {
    width: 600px!important;
    height: 300px!important;
  }
}

