.manageable-image {
  &__change-button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    opacity: 0 !important;
  }

  &__x-closer {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
  }

  &_change-button,
  &__x-closer {
    opacity: 0;
    transition: 0.2s;
  }

  &:hover {
    .manageable-image__change-button,
    .manageable-image__x-closer {
      opacity: 1 !important;
      transition: 0.2s;
    }
    .manageable-image__change-button {
      background-color: white;
    }
  }

  &__spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
