.applications {
  flex: 0 0 46%;
  max-width: 46% !important;
  padding-top: 20px;
}

// TODO clear this file totally (all changes)
.list-header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr 2fr;
  font-size: 15px;
  color: #707070;
  font-weight: bold;
  padding: 25px 48px 25px 20px;
}

.items-list {
  padding: 0 28px 0 3px;
  min-height: 400px;
  .list_item {
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 2fr;
    margin-bottom: 17px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px 20px;
    min-height: 70px;
    font-size: 18px;
    color: #707070;
    align-items: center;
    border-right: 3px solid white;
    &.selected {
      border-color: #7367f0;
    }
    &_name {
      padding-right: 10px;
    }
    &_description {
      word-break: break-word;
      padding-right: 10px;
    }
    &_organizations {
      display: flex;
      flex-direction: column;
    }
  }
}

.search-wrapper {
  width: 200px;
}

.application-search {
  height: 32px;
}

.application-search-wrapper {
  max-width: 300px;
}

.tree-hierarchies-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 98%; // TODO: fix bug with horizontal scroll
  margin-bottom: 32px;
}

.tree-hierarchy-wrapper > .tree-hierarchy {
  min-height: auto;
}

.group-actions {
  position: absolute;
  right: -4rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 4px;

  transition: opacity 0.25s ease-in;
  opacity: 0;
}

.tree-hierarchy__node-content:hover .group-actions {
  opacity: 1;
}
