.custom-form-field {
  margin-bottom: 59px;
  &:last-child {
    margin-bottom: 0;
  }

  .MuiFormLabel-root {
    color: #707070;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 300;

    &.Mui-focused {
      color: #707070;
    }
  }
}
