.survey-create-modal {
  min-width: 560px;
  &_select {
    margin-bottom: 25px;
    label {
      font-size: 22px;
      color: #4b484d;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
  &-checkbox {
    margin-bottom: 20px;
  }
  &-min_percent {
    label {
      display: block;
      font-size: 22px;
      color: #4b484d;
      font-weight: 500;
    }
    &-input {
      display: inline-block;
      max-width: 100px;
      input {
        display: block;
        text-align: center;
      }
    }
    span {
      font-size: 22px;
      color: #4b484d;
      font-weight: 500;
      padding-left: 8px;
    }
  }
  &-guidance {
    margin-bottom: 20px;
    textarea {
      border-color: #eee;
    }
  }
}
