.dform-textarea-widget {
  resize: vertical;
  min-height: 45px;
  width: 100%;
  background: #eee;
  border: 0;
  border-bottom: 1px solid #707070;
  padding: 12px 15px;
  color: #707070;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
