@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.user-bg-select {
    background-color: #f8f8f8;
}
.cursor-pointer {
    cursor: pointer;
}

.bg-hover-icon:hover {
    background-color: #f8f8f8;
    border-radius: 6px;
    cursor: pointer;
}
.bg-hover-icon:active {
    background-color: #e8e8e8;
}
.column-sizing-user-info {
    min-width: 100px;
    margin-bottom: 8px;
}
.column-sizing {
    min-width: 100px;
    min-height: 25px;
}
.columns-container {
    float: right;
}
.card-top-padding {
    padding-top: 0;
}

.full-width {
    width: 100%;
}

.fix-margin-select {
    margin-top: -6px;
}

.plus-select {
    &:hover {
        color: $cyan;
    }
    color: #007bffa8;
    stroke-width: 5;
    cursor: pointer;
}

.font-weight-bold-lighter {
    font-weight: lighter !important;
}

.edit-btn {
    display: none;
    margin: 2px 2px 4px 2px;
    position: absolute;
}
.edit-btn-trigger:hover .edit-btn {
    display: inline;
}
.edit-container {
    position: relative;
    width: 100%;
}
.to-right {
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    margin-left: 5px;
    position: relative;
}
.dform-input-setting {
    position: absolute;
    top: 0;
    right: 2px;
}
.x-closer {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ag-row-selected {
    background-color: rgba(0, 123, 255, 0.2)!important;
}

.ag-row-hover {
    background-color: rgba(0, 123, 255, 0.1)!important;
}

.workflow-edit-font {
    font-size: 12px;
}

.workflow-edit-font-trigger-head {
    font-size: 14px;
}
.vertical-center {
  margin: 0;
  padding-top: 6px;
}
.dform-input {
    margin-right: 10px;
}
.pull-right-icons {
    width: calc(100% - 70px)
}

// dForm FormCreate
.form-create__tab-min-height {
    min-height: 300px;
}
.form-create__group-min-height {
    min-height: 150px;
}
.form-create__add-new-group {
    height: 150px;
    width: calc(100% - 20px);
    border: 2px dashed rgba(0,123,255, 0.3);
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    margin: 10px;
    color: rgba(0,123,255, 0.3);
    transition: ease-in 0.2s;
}
.form-create__add-new-group.small {
    height: 50px;
    line-height: 50px;
    margin: 4px;
}
.form-create__add-new-group:hover {
    color: rgba(0,123,255, 0.9);
    border: 2px dashed rgba(0,123,255, 0.9);
    cursor: pointer;
}
.form-create__dform_actions {
    display: flex;
    justify-content: space-between;
}
.form-create__pull-right {
    width: calc(100% - 95px);
    margin-right: 10px;
}
// dForm FormCreate
.dform-type-badget {
  position: absolute!important;
  right: 10px;
  top: 24%;
  opacity: 0.8;
}
.label-hide label{
  display: none;
}
