.custom-textarea {
  resize: both;
  width: 100%;
  background: #eee;
  border: 0;
  border-bottom: 1px solid #707070;
  padding: 12px 15px;
  color: #707070;
  overflow: auto;
  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.field-with-error {
  .custom-textarea {
    border-right: 3px solid #dc3545;
  }
}
