.nmp-upload {
  .ant-upload.ant-upload-drag .ant-upload {
    padding: 35px 0;
  }

  .ant-upload.ant-upload-drag {
    background: #ffffff;
    border: 1px dashed #a8a8a8;
    border-radius: 2px;
  }

  &:not(&--empty) .ant-upload-list {
    margin-bottom: 24px;
  }

  .ant-upload-list {
    display: flex;
    flex-direction: column;
  }

  .nmp-upload__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    > span {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  > span {
    display: flex;
    flex-flow: column-reverse;
  }
}
