$primary-content-bg: #FFFFFF;
$secondary-content-bg: #F6F5F5;

$primary-bg-color: #FF0000;
$secondary-bg-color: #004F57;

$primary-fg-color: #000000;
$highlight-fg-color: #FF0000;

$background: #FFFFFF;
$primary-blue: #0AAFED;
$primary-yellow: #FFD15D;
$primary-red: #F45055;


$dot-color: #00D4A1;
$dot-width: 10px !default;
$dot-height: 10px !default;
$dot-radius: $dot-width/2 !default;

$dot-bg-color: $dot-color !default;
$dot-before-color: $dot-color !default;
$dot-after-color: $dot-color !default;

$dot-spacing: $dot-width + $dot-width/2 !default;

