.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  border-color: #35a046;
  background-color: transparent;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
  color: #35a046;
}
.ant-steps-item-title {
  font-size: 16px;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #474747;
}
