.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  border-color: #35a046;
  background-color: transparent;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
  color: #35a046;
}
.ant-steps-item-title {
  font-size: 16px;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #474747;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #35a046;
  border-color: #35a046;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-steps-finish-icon {
  background-color: #35a046;
  color: white;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #35a046;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #a8a8a8;
}

.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
  width: 2px;
}
