.conditional-element-render {
  &_no-conditions {
    text-align: center;
    padding: 40px 20px;
  }
  &_condition-title {
    font-weight: bold;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 10px;
  }
}
