.dform-section-tabs {
  $bg-color: #f4f4f4;
  $main-color: #474747;
  $white-color: #ffffff;
  $green-color: #35a046;

  $max-width: 150px;

  color: $main-color;

  &__tab > * {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: normal;
    position: relative;

    padding-right: 16px;
  }

  &__tab:after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: transparent;

    top: 50%;
    right: 0;
    position: absolute;
    transform: translate(0, -50%);
  }

  .ant-tabs-tab-active &__tab:after {
    background-color: #7367f0;
  }

  &__tab-label {
    display: inline-block;
    width: calc(100% - 33px);
    padding-right: 9px;
    font-size: 12px;
    text-align: right;
  }

  &__tab-icon {
    width: 33px;
    height: 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    border-radius: 50%;
    background-color: #dcd8f8;
  }

  /* Tab */

  // Hover,Active,Focus
  .ant-tabs-tab {
    width: 100%;
  }
  .ant-tabs-tab:hover,
  .ant-tabs-tab:active,
  .ant-tabs-tab:focus {
    color: $main-color;
  }
  // Active
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $main-color;
  }
  &.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
  &.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 0 8px 8px;
  }
  &.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin: 0;
  }

  /* Tab btn */

  .ant-tabs-tab-btn {
    width: 100%;
  }
  // Hover,Active,Focus
  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-btn:hover,
  .ant-tabs-tab-btn:active {
    color: $main-color;
  }

  /* Nav */

  .ant-tabs-nav {
    width: $max-width;
    max-width: $max-width;
  }
  // Wrap
  &.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    overflow: visible;
  }

  /* Content */

  &.ant-tabs-left > .ant-tabs-content-holder,
  &.ant-tabs-left > div > .ant-tabs-content-holder {
    border-left: 2px #7367f0 solid;
  }
  &--empty.ant-tabs-left > .ant-tabs-content-holder,
  &--empty.ant-tabs-left > div > .ant-tabs-content-holder {
    border-left: none;
  }

  /* Tabs bar */

  .ant-tabs-ink-bar {
    display: none;
  }
}
