.member-firm-table-title {
  margin-left: 50px;
  display: flex;
  span {
    display: flex;
    cursor: pointer;
    // width: 130px;
    // display: inline-block;
    font-size: smaller;
    font-weight: bold;
  }
}

.member-firm-table-icons {
  position: absolute;
  top: 14px;
  img {
    cursor: pointer;
    height: 20px;
  }
}

.member-firm-table-icons-remove {
  right: 3px;
}

.member-firm-filter-icon {
  float: right;
  position: absolute;
  right: 30px;
  top: 35px;
}

.member-firm-filter-tab {
  background: #818181!important;
  background-color: #818181!important;
  height: 30px;
  padding: 0 12px 0 15px;
  font-size: smaller;
  cursor: unset!important;
  .close-nav {
    margin-left: 5px;
    svg {
      width: 15px;
      cursor: pointer;
    }
  }
}

.member-firms-users-modal {
  .modal-content {
    background: #f8f8f8;
  }
}
