.member-firm-table-title {
  margin-left: 50px;
  span {
    cursor: pointer;
    width: 130px;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
  }
}

.member-firm-table-icons {
  position: absolute;
  top: 14px;
  img {
    cursor: pointer;
    height: 20px;
  }
}

.member-firm-table-icons-remove {
  right: 3px;
}

.member-firm-filter-icon {
  float: right;
  position: absolute;
  right: 30px;
  top: 35px;
}
