.survey-designer {
  padding-top: 20px;
  padding-right: 45px;

  .survey-designer-scroll {
    padding-right: 20px;
  }

  &_hide-survey {
    position: absolute;
    right: -17px;
    top: -10px;
    z-index: 10;
  }

  &_header {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    &_title {
      display: flex;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 34px;
      color: #707070;
      padding-right: 30px;
      border-right: 1px solid rgba(112, 112, 112, 0.5);
    }
    &_survey-name {
      display: flex;
      font-family: Montserrat;
      font-size: 34px;
      color: #707070;
      padding-left: 30px;
    }
    &_edit-icon {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &_version-select {
    max-width: 260px;
    margin-left: auto;
    margin-bottom: 25px;
  }

  &_no-questions {
    font-size: 18px;
    line-height: 30px;
    color: #4b484d;
    font-family: "Montserrat";
    font-weight: 500;
    margin: 105px auto;
    max-width: 500px;
    text-align: center;
  }
  &_action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    &_save-button {
      padding: 13px 78px;
    }
    &_delete-button.btn-secondary {
      background-color: #4b484d !important;
      margin-left: 43px;
    }
  }

  &_loading {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
  }

  .question {
    cursor: default;
  }
}
