.member_firm-form_component {
  &-loader {
    display: flex;
    justify-content: center;
  }

  &-fields {
    &-actions {
      display: flex;
      justify-content: flex-end;
      padding-top: 50px;
      align-items: center;
      &.with_add_button {
        justify-content: space-between;
      }
      &-add_field {
        border-radius: 40px;
        padding: 15px;
      }

      &-save {
        border-color: #4839eb !important;
        background-color: #7367f0 !important;
        padding: 0.9rem 3rem;
        font-size: 18px;
        border-radius: 0.4285rem;
      }
    }
  }
}
