.npmRadio {
  span:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
  }
}

.radio-green {
  ant-radio-checked .ant-radio-inner {
    border-color: #35a046 !important ;
  }
  .ant-radio-checked .ant-radio-inner:after {
    background-color: #35a046;
  }
}
.radio-red {
  ant-radio-checked .ant-radio-inner {
    border-color: red !important ;
  }
  .ant-radio-checked .ant-radio-inner:after {
    background-color: red;
  }
}
.radio-black {
  ant-radio-checked .ant-radio-inner {
    border-color: black !important ;
  }
  .ant-radio-checked .ant-radio-inner:after {
    background-color: black;
  }
}
