.member-firm {
  &__modal {
    max-width: 721px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(82, 61, 61, 0.161);
    border-radius: 10px;

    .member-firm-users-modal-body {
      min-height: 550px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: #ffffff;
    max-width: 307px;
    width: 100%;
    min-height: 43px;
    background-color: #7367f0;
    padding-left: 18px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    outline: none;
    border: 1px solid #95989a;
    border-radius: 8px;
    padding: 6px 19px;
    min-height: 35px;
  }

  &__close {
    padding: 8px 10px;
  }

  &__close-icon {
    padding: 0;
    transform: none;
  }

  &__body {
    margin: 0;
    padding: 27px 24px 27px 21px;
  }

  &__text {
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #707070;
    padding-top: 22px;
    border-top: 1px solid #ececec;
    padding-bottom: 5px;
  }
}
